<!DOCTYPE html>
<html>
<head>
    <title>Mirko Styles</title>
    <meta charset="UTF-8">
    <meta name="description" content="mirko styles">
    <meta name="keywords" content="mirko styles, frizerski salon">
    <link rel="shortcut icon" href="ico/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.js"></script>
    
</head>
<body>
    
    <div class="navbar navbar-inverse navbar-static-top">
            
        <div class="container">

            <div class="navbar-header">

                <a href="index.html" class="navbar-brand" id="na_vrh">Mirko Styles</a>

                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse navHeaderCollapse">

                <ul class="nav navbar-nav navbar-left">

                    <li><img src="img/logo.jpg" width="55px"></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="index.html#na_vrh">Domov</a></li>
                    <li><a href="index.html#kaj_nudimo">Kaj nudimo</a></li>
                    <li><a href="index.html#naroci_se">Naroči se</a></li>
                    <li><a href="index.html#faq">FAQ</a></li>
                    <li><a href="#oNas" data-toggle="modal">O nas</a></li>

                </ul>

                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Išči">
                    </div>
                </form>
            
            </div>
        </div>
    </div>
    
    <div class="container con_rob">
        <div class="row">
            <div class="col-lg-9">
                <br>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="page-header">
                            <h3 class="font_title">Barvanje las</h3>
                        </div>

                        <img class="featuredImg barvanje_img" src="img/barvanje_las.jpg">
                        
                        <p><br>Lorem ipsum dolor sit amet, pellentesque at lacinia mauris. Mauris efficitur, nunc vehicula pulvinar lobortis, leo dolor bibendum lectus, vitae malesuada velit lectus sit amet odio. Mauris ut massa leo. Maecenas leo tellus, cursus vitae mauris a, pretium tristique mauris. Duis sollicitudin hendrerit volutpat. Curabitur pretium hendrerit euismod. Fusce vestibulum, sapien eu blandit molestie, odio est fringilla dui, vitae tempor eros nisl vitae mauris. Donec iaculis sed ipsum vel bibendum. Morbi finibus ligula sed vehicula feugiat. Phasellus venenatis, diam ac mattis bibendum, augue velit varius nibh, sit amet vulputate purus nisl a augue. Suspendisse quis pulvinar neque, sit amet volutpat justo. Vestibulum feugiat vehicula viverra. Vivamus at felis id lorem mollis vehicula sit amet sed dolor. Cras convallis mollis sem, eget hendrerit quam pulvinar nec. Donec ac auctor magna. Donec ac aliquam tellus.</p>

                        <img class="featuredImg" src="img/barve.png">
                        
                        <h4 class="font_title">Barve</h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam mi, ornare ut erat feugiat, sagittis tincidunt erat. Sed ac elit ex. Integer dolor augue, porta eget ex in, mattis cursus ante. Fusce augue diam, vulputate fermentum lectus iaculis, ornare consequat neque. Maecenas congue ullamcorper metus, quis pharetra nulla mattis ut. Nunc finibus hendrerit leo eget posuere. Phasellus pulvinar, urna et eleifend luctus, lacus justo sodales sem, vel iaculis dui urna quis erat. Phasellus in euismod risus, id viverra eros. Vivamus ut blandit erat, id gravida velit. Mauris vel justo eget purus finibus posuere ac vitae justo. Sed luctus ultricies odio, quis viverra nisi tristique non. Nunc cursus ex sodales sem tempus, id convallis odio porta. Donec vestibulum leo ligula, non dapibus lectus eleifend in. Morbi pellentesque congue mauris ac faucibus. Nulla mattis augue vitae nulla consequat semper.</p>

                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <br>
                <div class="list-group">
                    <a class="list-group-item" href="nega.html">
                        <h4 class="list-group-item-heading font_title">Nega las</h4>
                        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam mi, ornare ut erat feugiat, sagittis tincidunt erat...</p>
                    </a>

                    <a class="list-group-item active" href="#">
                        <h4 class="list-group-item-heading font_title">Barvanje las</h4>
                        <p class="list-group-item-text">Lorem ipsum dolor sit amet, pellentesque at lacinia mauris. Mauris efficitur, nunc vehicula pulvinar lobortis, leo dolor bibendum lectus, vitae malesuada velit lectus sit amet odio...</p>
                    </a>

                    <a class="list-group-item" href="strizenje.html">
                        <h4 class="list-group-item-heading font_title">Striženje</h4>
                        <p class="list-group-item-text">Lorem ipsum dolor sit amet, nullam at vulputate eros. Pellentesque sed pretium lorem. Nunc volutpat magna nunc, ac iaculis eros malesuada id. Aenean hendrerit faucibus convallis...</p>
                    </a>
                    
                </div>
            </div>

        </div>
    </div>
    
    <br>
    
    <div class="container con_noga">
        <br>
        <div class="row">
            <div class="footer-col col-md-3 col-md-offset-1  noga_link">
                <h4 class="font_title">Kontakt:</h4>
                <p>Mirko Styles s.p.</p>
                <p>Davčna št.: 648053246</p>
                <p>Moderna ulica 12, 1000 Ljubljana</p>
                <p>Tel: 01/23 35 543</p>
                <p>Email: <a href="mailto:mirko@mirko-styles.com" type="mail">mirko@mirko-styles.com</a></p>
            </div>

            <div class="footer-col col-md-2 col-md-offset-5 noga_link">
                <h4 class="font_title">Navigacija:</h4>
                <p><a href="index.html#na_vrh">Domov</a></p>
                <p><a href="index.html#kaj_nudimo">Kaj nudimo</a></p>
                <p><a href="index.html#naroci_se">Naroči se</a></p>
                <p><a href="index.html#faq">Pogosta vprašanja</a></p>
                <p><a href="#oNas" data-toggle="modal">O nas</a></p>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="oNas" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal">
                    <div class="modal-header">
                        <h4>O nas</h4>
                    </div>
                    <div class="modal-body">

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et neque aliquam, egestas odio sit amet, placerat libero. Proin euismod bibendum urna at aliquet. Vestibulum pulvinar magna in fermentum facilisis. Nulla placerat vel mauris non posuere. Ut nec dictum eros. Nulla tristique facilisis ante, at lobortis nisi commodo venenatis. Sed vehicula ullamcorper ipsum id suscipit. Aliquam erat volutpat. Vestibulum dictum justo et elementum vehicula.</p>
                        <img src="img/hair_modal.jpg" class="img-responsive">

                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
   
</body>
</html>
